header, footer, html {
  background: linear-gradient(300deg, #FF5A1F, #1A1D24, #9CA3AF);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html{
    background-color: #0F1115;
}

.anta-regular, header, .container {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

main{
    background-color: #FF5A1F;
}

h1{
    color: white;
}


.top-logo{
    position: absolute;
    left: 40px;
    right: 40px;
    top: 50px;
}

.other-logo{
    position: absolute;
    right: 40px;
    top: 50px;
}





